
<!doctype html>
{% load static %}

<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Courses | Education</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}">

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static '/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/progressbar_barfiller.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/animated-headline.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/slick.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'w3.css' %}">
    </head>
<!--? Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="{% static 'assets/img/logo/loder.png' %}" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Preloader Start -->
<!-- Header Start -->
<div class="header-area header-transparent">
    <div class="main-header ">
        <div class="header-bottom  header-sticky">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <!-- Logo -->
                    <div class="col-xl-2 col-lg-2">
                        <div class="logo">
                            <a href="index.html"><img src="{% static 'assets/img/logo/logo.png' %}" alt=""></a>
                        </div>
                    </div>
                    <div class="col-xl-10 col-lg-10">
                        <div class="menu-wrapper d-flex align-items-center justify-content-end">
                            <!-- Main-menu -->
                            <div class="main-menu d-none d-lg-block">
                                <nav style="margin:20px;">
                                    <ul id="navigation">                                                                  
                                        <li class="button-header margin-left "><a href="#" class="btn">Submit Quiz</a></li>
                                        <li class="button-header"><a href="/logout/" class="btn btn3">Leave</a></li>
                                        
                                    
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div> 
                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->
<main>
    <!--? slider Area Start-->
    <section style="height:100px;"class="slider-area slider-area2">
        <div class="slider-active">
            <!-- Single Slider -->
            <div class="single-slider slider-height2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8 col-lg-11 col-md-12">
                            <div class="hero__caption hero__caption2">
                            </div>
                        </div>
                    </div>
                </div>          
            </div>
        </div>
    </section>
    <style type="text/css">
    input[type=radio]:checked + p {
           box-shadow:2px 2px 15px;
           padding:10px;
         }
    </style>
    <div style="padding:50px;">
        <div style="font-size:20px;padding:20px;border-radius:20px;"class="w3-black"><span style="font-weight:bold;">Q1. </span>My name is sonali kulshrestha. I am from tundla.But I live in Agra And I have completed my b.tech. My father name is sanjeev kulshreshtha and my mother name is vandana kulshreshtha.</div>
        <div style="padding:20px;">
            <form>
                <label style="width:100%;">
                <input style="position:absolute;opacity:0;cursor:pointer;"type="radio" id="optionA">
                <p style="width:100%;border-left:10px solid black;border-radius:10px;padding:10px;">A) ABGHTYHJUG</p>
                </label><br>
                <label style="width:100%;">
                <input style="position:absolute;opacity:0;cursor:pointer;"type="radio" id="optionA">
                <p style="width:100%;border-left:10px solid black;border-radius:10px;padding:10px;">B) ABGHTYHJUG</p>
                </label><br>
                <label style="width:100%;">
                <input style="position:absolute;opacity:0;cursor:pointer;"type="radio" id="optionA">
                <p style="width:100%;border-left:10px solid black;border-radius:10px;padding:10px;">C) ABGHTYHJUG</p>
                </label><br>
                <label style="width:100%;">
                <input style="position:absolute;opacity:0;cursor:pointer;"type="radio" id="optionA">
                <p style="width:100%;border-left:10px solid black;border-radius:10px;padding:10px;">D) ABGHTYHJUG</p>
                </label>
            </form>
        </div>
        <div class="w3-bar">
        <button class="w3-button w3-blue w3-hover-black">Submit Quiz</button>
    </div>
    </div>

</main>
  <div id="back-top" >
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>
<!-- JS here -->
<script src="{% static '/assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="{% static '/assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
<script src="{% static '/assets/js/popper.min.js' %}"></script>
<script src="{% static '/assets/js/bootstrap.min.js' %}"></script>
<!-- Jquery Mobile Menu -->
<script src="{% static '/assets/js/jquery.slicknav.min.js' %}"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="{% static '/assets/js/owl.carousel.min.js' %}"></script>
<script src="{% static '/assets/js/slick.min.js' %}"></script>
<!-- One Page, Animated-HeadLin -->
<script src="{% static '/assets/js/wow.min.js' %}"></script>
<script src="{% static '/assets/js/animated.headline.js' %}"></script>
<script src="{% static '/assets/js/jquery.magnific-popup.js' %}"></script>

<!-- Date Picker -->
<script src="{% static '/assets/js/gijgo.min.js' %}"></script>
<!-- Nice-select, sticky -->
<script src="{% static '/assets/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static '/assets/js/jquery.sticky.js' %}"></script>
<!-- Progress -->
<script src="{% static '/assets/js/jquery.barfiller.js' %}"></script>

<!-- counter , waypoint,Hover Direction -->
<script src="{% static '/assets/js/jquery.counterup.min.js' %}"></script>
<script src="{% static '/assets/js/waypoints.min.js' %}"></script>
<script src="{% static '/assets/js/jquery.countdown.min.js' %} "></script>
<script src="{% static '/assets/js/hover-direction-snake.min.js' %}"></script>S
<!-- contact js -->
<script src="{% static '/assets/js/contact.js' %}"></script>
<script src="{% static '/assets/js/jquery.form.js' %}"></script>
<script src="{% static '/assets/js/jquery.validate.min.js' %}"></script>
<script src="{% static '/assets/js/mail-script.js' %}"></script>
<script src="{% static '/assets/js/jquery.ajaxchimp.min.js' %} "></script>

<!-- Jquery Plugins, main Jquery -->    
<script src="{% static '/assets/js/plugins.js' %}"></script>
<script src="{% static '/assets/js/main.js' %}"></script>


</body>
</html>